<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Make a Post</title>
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<h1>Make a Post</h1>
		<div id="post-area">
			<form id="post-form">
				<div id="post-info">
					<input type="text" name="title" placeholder="Write a memorable title" required>
				</div>
				<div id="post-body">
					<input type="text" name="body" placeholder="The story of your life..." required>
				</div>
				<button type="button" id="post-submit">Submit</button>
			</form>
		</div>
	</body>
</html>
